.footer {
  background-color: #111;

  &__block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__column {
    max-width: 260px;
    margin-right: 10px;
  }

  &__title {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
}

.social__icons {
  display: flex;
  width: 100%;
}

.social__icon {
  height: 25px;
  width: 25px;
}

.footer__link {
  color: #fff;
  line-height: 1.8;
}

@media (min-width:992px) {

  .footer {
    margin-top: 60px;

    &__container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 75px 20px;
    }

    &__title {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  .social__item:not(:last-child) {
    margin-right: 8px;
  }
  
  .column-links__item {
    margin-bottom: 10px;
  }

}

@media (max-width: 991px) {
  .footer {
    &__container {
      padding: 50px 20px;
    }

    &__title {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  .social__item:not(:last-child) {
    margin-right: 8px;
  }
  
  .column-links__item {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__block {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .footer__column {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .column-links__item {
    margin-bottom: 0;
  }
}