@import "./nullcss.scss";
@import "./fonts.scss";
@import "./header.scss";
@import "./aside.scss";
@import "./footer.scss";

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;

  &._lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  text-align: center;
  color: #135aa2;
}

.section__title {
  font-weight: 700;
  color: #111;
  text-align: center;
}

.avatar-block__img {
  border-radius: 50%;
}

.avatar-block__name {
  font-weight: 500;
  color: #111;
  text-align: center;
}

.avatar-block__status {
  font-weight: 500;
  color: #515151;
  text-align: center;
}

.data-info {
  background-color: #E4E4E4;

  &__key {
    font-weight: 500;
    color: #111;
  }

  &__value {
    font-weight: 400;
    color: #515151;
  }

  &__link {
    text-decoration: underline;
    cursor: pointer;
  }

  &__title {
    font-weight: 600;
    text-align: center;
    color: #111;
  }
}
.main-wrapper {
  display: flex;
  flex-direction: row;
}
.section {
  margin-left: 30px;
}
.avatar-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.personal-data {

  &__block {
    display: flex;
  }
}

.section-wrapper {
  width: 100%;
}

.data-info {
  padding: 50px 30px;
  width: 100%;
  margin-bottom: 40px;

  &__wrapper {
    justify-content: space-around;
    display: flex;
  }

  &__left {
    margin-right: 20px;
  }

  &__key {
    font-size: 16px;
  }

  &__value {
    font-size: 16px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {

  .title {
    margin-top: 112px;
    margin-bottom: 35px;
    font-size: 42px;
  }

  .section {
    margin-left: 30px;

    &:not(:last-child) {
      margin-bottom: 35px;
    }
    
    &__container {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &__title {
      font-size: 34px;
      margin-bottom: 40px;
    }
  }



  .avatar-block {
    padding: 0 25px 0 15px;

    &__img {
      max-width: 178px;
      margin-bottom: 10px;
    }

    &__name {
      font-size: 19px;
    }

    &__status {
      font-size: 17px;
    }
  }

  .data-info {
    padding: 50px 30px;
    width: 100%;
    margin-bottom: 40px;

    &__wrapper {
      justify-content: space-around;
      display: flex;
    }

    &__left {
      margin-right: 20px;
    }

    &__key {
      font-size: 16px;
    }

    &__value {
      font-size: 16px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &__title {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

}

@media (max-width: 992px) {

  .title {
    margin-top: 80px;
    margin-bottom: 15px;
    font-size: 34px;
  }

  .section {
    margin-left: 30px;

    &:not(:last-child) {
      margin-bottom: 35px;
    }
    
    &__container {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &__title {
      font-size: 25px;
      margin-bottom: 20px;
    }
  }

  .avatar-block {
    padding: 0 20px;

    &__img {
      max-width: 150px;
      margin-bottom: 10px;
    }

    &__name {
      font-size: 17px;
    }

    &__status {
      font-size: 15px;
    }
  }

  .data-info {
    padding: 50px 30px;
    width: 100%;
    margin-bottom: 30px;

    &__wrapper {
      justify-content: space-around;
      display: flex;
    }
  }
}

@media (max-width: 767px) {
  .personal-data__block {
    flex-direction: column;
  }
  .avatar-block {
    margin-bottom: 20px;
  }
  .section__title {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .data-info {
    padding: 30px 15px;

    &__wrapper {
      justify-content: space-around;
      display: flex;
    }

    &__title {
      font-size: 16px;
      margin-bottom: 20px;
    }

    &__left {
      margin-right: 20px;
    }

    &__key {
      font-size: 14px;
    }

    &__value {
      font-size: 14px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 25px;
    margin-top: 65px;
  }
  .section:not(:last-child) {
    margin-bottom: 10px;
  }
  .section__title {
    font-size: 20px;
  }
  .data-info__wrapper {
    flex-direction: column;
  }
  .data-info__left {
    margin-right: 0;
    text-align: center;
    margin-bottom: 10px;
  }
  .data-info__right {
    text-align: center;
  }
  .data-info__value:not(:last-child) {
    margin-bottom: 10px;
  }
}